[submodule "MEK_Engine/vendor/spdlog"]
	path = MEK_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MEK_Engine/vendor/GLFW"]
	path = MEK_Engine/vendor/GLFW
	url = https://github.com/mekot16/glfw
[submodule "MEK_Engine/vendor/imgui"]
	path = MEK_Engine/vendor/imgui
	url = https://github.com/mekot16/imgui.git
[submodule ".\\MEK_Engine/vendor/glm"]
	path = .\\MEK_Engine/vendor/glm
	url = https://github.com/g-truc/glm
